body {
	background: #F1F1F2;
			
}

#container {
	border: solid 2px #DDD;
	background: #fff;
	margin-top: 50px;
	/*background: url("../img/16_col.gif");*/
		
}


/*Logo*/

#logo {
	background: url("../img/logo.png");
	height: 113px;
	margin: 0;
	left: 430px;
	position: absolute;
	padding: 0;
	text-indent: -9999px;
	width: 100px;
}

#logo:hover {
	background-position: -100px;
}

#logo:active {
	opacity: .3;
}
/*Navigation*/

header {
	float: left;
	padding-bottom: 20px;
	width: 960px;	
}

nav {
	float: left;
	font: 100 25px 'Roboto', sans-serif;
	margin: 40px 0 0 0;
	position: relative;
}
nav a {
	display: block;
	padding: 4px 0 4px 0;
	text-align: center;
	width: 100px;
}

nav a:link,
nav a:visited {	
	text-decoration: none;
	color: #999;
	-webkit-transition: color .2s;
}

nav a:hover {
	color: #89D4E1;
	-webkit-transition: color .5s;
}

nav a:active {
	opacity: .3;	 	
}

nav li {
	float: left;
	padding: 0 10px 0 10px;
	
}

nav ul {
	float: left;
	list-style: none;
	margin: 33px 0 0 0;
	
}

nav li:nth-child(3) a {
	background: #DDD;
}

nav ul li:nth-child(3) {
	padding-left: 250px;	
}

ul + hr {
	top: 65px;
	left: 155px;
	background-color: #BBB;
	border: 0;
	position: absolute;
	width: 230px;
	height: 1px;	
}

ul + hr	 + hr {
	top: 65px;
	left: 589px;
	background-color: #BBB;
	border: 0;
	position: absolute;
	width: 230px;
	height: 1px;	
}

h4 {
	color: #666;
	clear: both;
	font: 100 18px 'Roboto', sans-serif;
	margin: 168px 0 0 0;
	text-align: center;	
}

/*main*/


 main h2 {
	 float: left;
	 font: 100 28px 'Roboto', sans-serif;
 }
 
#gallery {
float: left;
clear: both;
padding: 0 0 130px 120px;
}
 
 /*lightbox*/
 
 /*tumbnail*/
 
 main ul {
	padding: 0; 
 }
 
 main li {
	border: solid 2px #DDD;
	float: left;
	list-style: none;
	margin: 20px 10px 20px 6px;
	position: relative;

}

main a, 
main a img {
	display: block;
}

main li > a {
    height: 220px;
    position: relative;
   	width: 220px;
}


/*Overlay*/

/* Hide lightbox */
.lightbox {
	background: rgba(0, 0, 0, .5);
    height: 0px;
    overflow: hidden;
    position: fixed;
    left: 0px;
    top: 0px;
    text-align: center;
	width: 0px;
	z-index: 99;
}

.lightbox img {
	max-height: 100%;
    position: relative;
    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}

main li a {
	color: #FFF;
	font: 300 25px 'Roboto', sans-serif;
	text-decoration: none;
	text-transform: uppercase;	
}
.lightbox:target {
    height: auto;
    bottom: 0px;
    right: 0px;
    padding: 80px 100px 120px 100px;
	width: auto;
}


/*************************** 
Keyframe Animations 
/***************************/

.lightbox:target img {
	-webkit-animation: fadein .8s ease-in;
    animation: fadein .8s ease-in;
}

@-webkit-keyframes fadein {
  0% { transform: scale(0.6); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
 
/*FOOTER*/
main + hr {
	background-color: #BBB;
	border: none;
	height: 1px;
	width: 700px; 
 }
 
 footer {
	float: left;	 
 }
 
 footer li {
		float: left;
		list-style: none;
		width: 85px;
		 
 }
 footer a {
	font: 100 13px 'Roboto', sans-serif;
	display: block;
	padding: 4px 0 4px 0;
	text-align: center;
	width: 85px;
}

footer a:link,
footer a:visited {	
	text-decoration: none;
	color: #666;
	-webkit-transition: color .2s;
}

footer a:active {
	opacity: .5;
}
h2 {
	clear: both;	
}